<div class="modal-header">
  <h2 mat-dialog-title>{{ data.title }}</h2>

  <button
    type="button"
    mat-icon-button
    class="modal-close"
    aria-label="Close dialog"
    (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="onCancel()">{{ data.cancelText }}</button>
  <button mat-button type="button" color="primary" (click)="onConfirm()">{{ data.confirmText }}</button>
</mat-dialog-actions>