<form [formGroup]="form" (ngSubmit)="resetPassword()">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <a routerLink="/login">‹ Back</a>
                </p>
            </div>
            <div class="col-xs-12 col-center">
                <span class="align-middle">
                    Enter your email to reset your password
                </span>
            </div>
            <div class="col-xs-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input matInput formControlName="email" name="email" required autocomplete="email">
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-center">
                <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid">Reset Password</button>
            </div>
        </div>
    </div>
</form>