<div class="grid-container">
  <div class="grid-row">
    <div class="col-12 header-branding">
      <span class="header-title"><a (click)="openHome()">Review My <wbr>Driving</a></span>
      <div class="header-navigation desktop-view">
        <div class="header-link">
          <span><a routerLink="/index">Home</a></span>
        </div>
        <div class="header-link">
          <span><a routerLink="/shop">Shop</a></span>
        </div>
        <div class="header-link">
          <span><a routerLink="/about">About</a></span>
        </div>
        <div class="header-link">
          <span><a routerLink="/contact">Contact</a></span>
        </div>
      </div>
      <div class="header-actions">
        <button mat-icon-button [matMenuTriggerFor]="navMenu" class="mobile-view"><mat-icon>menu</mat-icon></button>
        <button mat-icon-button *ngIf="cartQuantity !== 0" (click)="reviewCart()">
          <mat-icon>shopping_cart</mat-icon>
          <span
            matBadge="{{ cartQuantity }}"
            matBadgeHidden="{{ cartQuantity === 0 }}"
            matBadgeOverlap="false">
          </span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="accountMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #navMenu="matMenu">
          <button mat-menu-item (click)="openHome()">
            <span>Home</span>
          </button>
          <button mat-menu-item (click)="openShop()">
            <span>Shop</span>
          </button>
          <button mat-menu-item (click)="aboutPage()">
            <span>About</span>
          </button>
          <button mat-menu-item (click)="contactPage()">
            <span>Contact</span>
          </button>
        </mat-menu>
        <mat-menu #accountMenu="matMenu">
          <div *ngIf="user">
            <button mat-menu-item (click)="viewAccount()">
              <mat-icon>manage_accounts</mat-icon>
              <span>Account</span>
            </button>
            <button mat-menu-item (click)="viewSettings()">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item (click)="$event.stopPropagation();">
              <mat-icon>dark_mode</mat-icon>
              <mat-checkbox [checked]="isDarkMode" (change)="onToggleDarkMode($event)" labelPosition="before">Dark Mode</mat-checkbox>
            </button>
            <button mat-menu-item (click)="signOut()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </div>
          <div *ngIf="!user">
            <button mat-menu-item (click)="registerationPage()">
              <mat-icon>person_add</mat-icon>
              <span>Create Account</span>
            </button>
            <button mat-menu-item (click)="loginPage()">
              <mat-icon>login</mat-icon>
              <span>Login</span>
            </button>
            <button mat-menu-item (click)="$event.stopPropagation();">
              <mat-icon>dark_mode</mat-icon>
              <mat-checkbox [checked]="isDarkMode" (change)="onToggleDarkMode($event)" labelPosition="before">Dark Mode</mat-checkbox>
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
    <div class="col-12 col-center">
      
    </div>
  </div>
</div>