<div class="container">
    <div class="row">
        <div class="col-12 col-center">
            <h1>About Us</h1>
        </div>
        <div class="col-12">
            <h3>How We Started</h3>
            <span>
                It all started with a vacation, a car, and a random name slapped on the back. 
                Seeing that got me thinking—what if there was a better way to "review" someone's 
                driving? Not just a phone number you’ll never call, but something quick, digital, 
                and (most importantly) kind of ridiculous. Thus, Review My Driving was born. 
                But I didn’t just want to make another boring feedback form... I wanted to get
                the last word in. A customizable "confirmation" message. A way to say "F you"
                or "Have a great day!" depending on how you feel.
            </span>
        </div>
        <div class="col-12">
            <h3>Our Background</h3>
            <span>
                I’ve been a software engineer my whole life. From a young age, I knew I wanted to 
                build things, and this project lets me combine that passion with a little 
                creative chaos. There’s something truly exciting about taking a simple 
                concept and turning it into an experience, one that’s equal parts frustrating 
                and hilarious.
            </span>
        </div>
        <div class="col-12">
            <h3>What We Do</h3>
            <span>
                At the end of the day, we all have thoughts about the way people drive, but 
                there hasn’t really been a good way to share them—until now. Calling a number 
                on the back of a truck? Not happening. But scanning a QR code and 
                submitting a review? Much better. Review My Driving makes it easier 
                (and slightly more entertaining) to give and get feedback. 
                Whether you're here to rant, reflect, or just experience the worst 
                form UI imaginable, welcome aboard.
            </span>
        </div>
        <div class="col-12 col-center">
            <h4>Thank you for reading, <br />- Alec Z. (Founder)</h4>
        </div>
        <div class="col-12" *ngIf="isAdmin">
            <button mat-button (click)="updateOrderDetails()">Test UpdateOrderStatus function</button>
        </div>
    </div>
</div>