<div class="container">
    <div class="row">
        <div class="col-12 col-center">
            <span class="align-middle">
                <h1>Order Confirmed! #{{ orderID }}</h1>
                <br />
                <h2>Thank you for your purchase!</h2>
            </span>
        </div>
        <div class="col-12 col-center">
            <span class="align-middle">
                <p>
                    Please have patience while waiting for your order.
                    Each order includes customized products that can take longer than usual to ship.
                    We promise you, it'll be worth the wait!
                </p>
            </span>
        </div>
    </div>
</div>