
$primary-yellow: #FFCC00; // Use for highlights, call-to-action buttons, and accents.
$primary-red: #FF0000; // Use sparingly for important actions or notifications.
$primary-blue: #0075BE; // Ideal for headers, navigation bars, or primary backgrounds.
$primary-gray: #f0f5f1; // Use for background of content on pages

$secondary-white: #FFFFFF; // Use for card details, forms, and main content areas.
$secondary-gray: #333333; // For text, secondary buttons, or subtle backgrounds.
$secondary-green: #3E8E41; // Use for success messages or secondary highlights.

$tertiary-gold: #D4AF37; // Highlight rare or exclusive features like top-tier grading submissions.
$tertiary-beige: #F5F5DC; // Use as a subtle background for card-specific sections.

$hover-blue: #4AA7FF;
$hover-yellow: #FFD700;
$hover-gray: #E0E0E0;
$hover-cyan: #80DFFF;