
$error-color: #e53935; /* Red for errors */
$success-color: #43a047; /* Green for success */

$header-background: rgba(255, 255, 255, 0.50); /* Semi-transparent white for header */
$header-color: #111827; /* Dark gray for header text */
$header-border: rgba(0, 0, 0, 0.08); /* Light border for header */

// Base colors
$color-primary: #4B0082; // Deep Dark Purple (Accent, Buttons)
$color-secondary: #C3B1E1; // Lavender (Hover/Highlights)
$color-button-disabled-bg: #9B7FB5; // Muted Purple (or use #D6D6D6 for a more neutral tone)
$color-button-disabled-text: #FFFFFF; // For darker disabled buttons
$color-button-disabled-border: #C5C5C5; // Subtle border for a disabled state

// Light Mode Colors
$color-background-light: #FAFAFA; // Soft White (Background)
$color-table-light: #F5F5F5; // Light Gray (Table Background)
$color-text-dark: #212121; // Almost Black (Text)
$color-border-light: #E0E0E0; // Neutral Gray (Borders/Dividers)
$color-header-light: #4B0082; // Deep Dark Purple (Header Background)
$color-footer-light: #6A33AA; // Slightly Lighter Purple (Footer Background)
$color-link-light: #C3B1E1; // Lavender (Links in Header/Footer)

// Dark Mode Colors
$color-background-dark: #121212; // Deep Gray (Background)
$color-table-dark: #1E1E1E; // Darker Gray (Table Background)
$color-text-light: #E0E0E0; // Light Gray (Text)
$color-border-dark: #383838; // Subtle Gray (Borders/Dividers)
$color-header-dark: #2C1A47; // Deep Gray-Purple (Header Background)
$color-footer-dark: #201133; // Darker Gray-Purple (Footer Background)
$color-link-dark: #9F87FF; // Soft Violet (Links in Header/Footer)