@use './variables' as *;

.dark-mode {
    .footer {
        background: $color-footer-dark;
        color: $color-text-light;
        position: sticky;
        bottom: 0;
    
        padding: 0px 5px;
        height: 40px;
    
        .grid-row {
            height: 100%;
        }
    }
}

.light-mode {
    .footer {
        background: $color-footer-light;
        color: $color-text-light;
        position: sticky;
        bottom: 0;
    
        padding: 0px 5px;
        height: 40px;
    
        .grid-row {
            height: 100%;
        }
    }
}

.footer-branding {
    display: flex;
    align-items: center;
    justify-content: center;
}