@import './variables';

.footer {
    background: linear-gradient(45deg, #e63946, #d62839);
    color: $secondary-white;
    position: sticky;
    bottom: 0;

    padding: 0px 5px;
    height: 40px;

    .grid-row {
        height: 100%;
    }
}

.footer-branding {
    display: flex;
    align-items: center;
    justify-content: center;
}