@use './variables' as *;

html {
    --mat-badge-text-size: 10px;
    --mat-badge-background-color: #C3B1E1;
    --mat-badge-text-color: black;
    --mat-badge-container-shape: 10px;
}

.header {
    padding: 0 5px 5px 5px;
    height: 40px;

    .grid-row {
        height: 100%;
    }
}

.dark-mode {
    .header {
        background: $color-header-dark;
        color: $color-text-light;
    }

    .border-top {
        border-top: 1px solid $color-text-light;
    }
}

.light-mode {
    .header {
        background: $color-header-light;
        color: $color-text-light;
    }

    .border-top {
        border-top: 1px solid $color-text-light;
    }
}



.mat-mdc-menu-content {
    padding: 0 !important;
}

.header-branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .header-title {
        text-align: left;
        font-size: 32px;
        font-weight: 500;
        margin: 0;

        a {
            color: $color-text-light;
            text-decoration: none;
            cursor: pointer;
        }

        @media screen and (max-width: 590px) {
            font-size: 24px;
        }

        @media screen and (max-width: 436px) {
            font-size: 18px;
        }
    }
    
    .header-actions {
        flex: 0 0 auto;

        button:first {
            padding-right: 25px;
        }
    }
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 5px !important;

    .header-link {
        padding: 0px 5px;
    }

    &.desktop-view {

        @media screen and (max-width: 530px) {
            display: none !important;
        }
    }
}

.mobile-view {
    @media screen and (max-width: 530px) {
       display: block; 
    }

    @media screen and (min-width: 531px) {
        display: none !important;
    }
}