<h2 mat-dialog-title>Edit License Info</h2>
<mat-dialog-content>
	<form [formGroup]="licenseForm">
		<mat-form-field appearance="fill" class="full-width">
			<mat-label>License Number</mat-label>
			<input matInput formControlName="licenseNumber" />
		</mat-form-field>
		<mat-form-field appearance="fill" class="full-width">
			<mat-label>State</mat-label>
			<mat-select formControlName="state">
				<mat-option *ngFor="let state of states" [value]="state.value">{{ state.name }}</mat-option>
			</mat-select>
		</mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Expiration</mat-label>
            <input matInput formControlName="expiration" [matDatepicker]="expPicker" />
            <mat-datepicker-toggle matIconSuffix [for]="expPicker"></mat-datepicker-toggle>
            <mat-datepicker #expPicker></mat-datepicker>
        </mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button (click)="onCancel()">Cancel</button>
	<button mat-button color="primary" [disabled]="licenseForm.invalid" (click)="onSubmit()">Save</button>
</mat-dialog-actions>
