<div class="container">
    <div class="row padding-bottom">
        <div class="col-xs-12">
            <mat-card appearance="outlined" class="index-header align-middle" *ngIf="!user">
                <mat-card-header>
                    <mat-card-title>
                        <h1>{{ 'Review My Driving' }}</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Unlock Your Road Potential – <a routerLink="/register">Register</a> now for personalized driving reviews and "expert" insights!</p>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="index-header align-middle" *ngIf="user">
                <mat-card-header>
                    <mat-card-title>
                        <h1>{{ 'Welcome back, ' + user.displayName }}</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ 'Last login time: ' + user.metadata.lastSignInTime }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-xs-12 col-sm-6">
            <mat-card appearance="outlined" class="index-header align-middle" *ngIf="user">
                <mat-card-header>
                    <mat-card-title>
                        <div *ngIf="lastWeekSubmissions >= 0; else loading"></div>
                        <span class="index-large-font">{{ lastWeekSubmissions }}</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ 'Submissions over last 7 days' }}</p>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="!user">
                <img mat-card-image src="assets/images/Context_Magnet.jpg" />
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-6">
            <mat-card appearance="outlined" class="index-header align-middle" *ngIf="user">
                <mat-card-header>
                    <mat-card-title>
                        <div *ngIf="totalSubmissions >= 0; else loading"></div>
                        <span class="index-large-font">{{ totalSubmissions }}</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ 'Total Submissions ' }}</p>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="!user">
                <img mat-card-image src="assets/images/Context_Sticker.jpg" />
            </mat-card>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-xs-12">
            <mat-card appearance="outlined" *ngIf="user">
                <mat-card-content>
                    <h3>Most Recent Submissions:</h3>
                    <br />
                    <mat-table [dataSource]="submissionsDataSource" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- Define columns -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.firstName + ' ' + element.lastName + '.' }} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="dateSubmitted">
                            <mat-header-cell *matHeaderCellDef> Date Submitted </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.dateSubmitted | date }} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="reasonForContacting">
                            <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.reasonForContacting.replaceAll('_', ' ') }} </mat-cell>
                        </ng-container>
                        
                        <!-- Expand/Collapse Column -->
                        <ng-container matColumnDef="expand">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>{{ expandedElement === element ? 'expand_less' : 'expand_more' }}</mat-icon>
                            </button>
                            </mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="expandedDetail">
                            <mat-cell *matCellDef="let element" [attr.colspan]="submissionsColumnsToDisplay.length" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="expanded-detail">
                                <p><strong>Comment:</strong> {{ element.description }}</p>
                                </div>
                            </mat-cell>
                        </ng-container>
                        
                        <!-- Header Row -->
                        <mat-header-row *matHeaderRowDef="submissionsColumnsToDisplay"></mat-header-row>
                        
                        <!-- Data Row -->
                        <mat-row 
                            class="submission-row"
                            *matRowDef="let element; columns: submissionsColumnsToDisplay;" 
                            (click)="toggleRow(element, $event)">
                        </mat-row>
                        
                        <!-- Expanded Detail Row -->
                        <mat-row *matRowDef="let element; columns: ['expandedDetail']" class="detail-row" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"></mat-row>
        
                        <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
                        <tr class="mat-row" *ngIf="totalSubmissions <= 0">
                            <td class="mat-cell" colspan="4">No submissions yet, you're driving too well!</td>
                        </tr>
                    </mat-table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row padding-bottom" *ngIf="!user">
        <div class="col-xs-12">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h2 class="align-middle">Features & Benefits:</h2>
                    <br />
                    <ul>
                        <li><b>Fast Lane Feedback:</b> Get immediate email confirmation on every submission!</li>
                        <li><b>Analytics with Attitude:</b> Dive into your driving data with insights that are as fun as they are informative</li>
                        <li><b>Custom Confirmation Messages:</b> Choose between a snackbar, modal, or browser alert for a personalized form submission experience</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row padding-bottom" *ngIf="!user">
        <div class="col-xs-12">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h3 class="align-middle">FAQs</h3>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title> What is Review My Driving all about? </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Review My Driving lets you submit and view user-generated driving behavior reviews, as well as browse and shop our products.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title> How does the driving review system work? </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Each product is uniquely linked to you. When someone scans your QR code, our system automatically routes their review directly to your profile, ensuring that feedback is personalized and relevant.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title> Do I need to create an account to submit a review? </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>No - Reviews are submitted with just your first name and last initial, no other information is collecting when you are reviewing someone's driving.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title> How long does shipping take? </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Because each product is made to order, shipping may take longer than standard retail stores. Our printing partner needs time to produce your item before it’s shipped out. We appreciate your patience and promise it’s worth the wait! While we’re not Amazon-fast, we’re focused on delivering high-quality, custom-crafted products just for you.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title> Have a question that's not listed here? </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Head over to the <a routerLink="/contact">contact</a> page to reach out to us with any questions or concerns you may have!</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- <div class="row" *ngIf="!user">
        <div class="col-xs-12">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h3 class="align-middle">Recent Submissions</h3>

                </mat-card-content>
            </mat-card>
        </div>
    </div> -->
</div>

<ng-template #loading>
    <div class="spinner">
        <img src="assets/images/spinner.gif" alt="Loading..." height="100" width="100" />
    </div>
</ng-template>