/* You can add global styles to this file, and also import other style files */
@import './styles/variables';
@import './styles/grid';
@import './styles/header';
@import './styles/footer';
@import './styles/inputs.scss';

html, body { 
    height: 100%;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    touch-action: manipulation; /* Prevent gestures from interfering */
}

body {
    margin: 0;
    font-family: 'DynaPuff', serif;
    overflow: hidden;
    font-size: 16px;

    @media screen and (max-width: 768px) {
        font-size: 14px; /* Scale down slightly for readability */
    }
}

body.light-mode {
    background-color: #f9f9f9; /* Light background */
    color: #333; /* Dark gray text */
    --mat-select-panel-background-color: #f9f9f9;
    --mat-sys-surface-container: #f9f9f9;
    --mdc-snackbar-container-color: #f9f9f9;
    --mat-sys-inverse-surface: #333;

    a {
        color: #333;
    }
}

body.dark-mode {
    background-color: #333;
    color: #f9f9f9;
    --mat-select-panel-background-color: #333;
    --mat-sys-surface-container: #333;
    --mdc-snackbar-container-color: #333;
    --mat-sys-inverse-surface: #333;

    a {
        color: #f9f9f9;
    }
}

input, textarea, select, label {
    font-family: 'DynaPuff', serif !important; /* Form elements */
}

button {
    background-color: #e63946; /* Muted red */
    color: #fff; /* White text */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #d62839; /* Slightly darker red on hover */
        transform: translateY(-10px) rotate(10deg); /* Make it jump */
        transition: transform 0.3s;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

.content {
    flex: 1; /* Fills remaining space between header and footer */
    overflow-y: auto; /* Enables scrolling if content exceeds available space */
    height: auto;
    margin: 0px 5px 5px 5px;
}

mat-form-field {
    width: 100%;
    max-width: 1000px;
    padding-left: 3vh;
    padding-right: 3vh;
}

mat-form-field:hover {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0); }
    50% { transform: rotate(2deg); }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

div.mat-mdc-select-panel {
    
    background-color: var(--mat-select-panel-background-color, var(--mat-sys-surface-container));
}

.mat-mdc-form-field-flex {
    padding: 5px;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    color: var(--mdc-snackbar-supporting-text-color, var(--mat-sys-inverse-on-surface));
    border-radius: var(--mdc-snackbar-container-shape, var(--mat-sys-corner-extra-small));
    background-color: var(--mdc-snackbar-container-color, var(--mat-sys-inverse-surface));
}