<div class="container" *ngIf="isQuickMode">
    <div class="row padding-bottom">
        <div class="col-12 col-center">
            <span class="align-middle padding-bottom">
                Click any of the buttons below to send a review to the driver of the car in question.
                <br />
                We will do our best to make sure they are reprimanded.
            </span>
        </div>
        <div clas="col-12 col-center">
            <h3 class="align-middle">Bad Driving Review</h3>
            <div class="align-middle">
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Aggressive Driving')">
                    Aggressive Driving
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Cut Me Off')">
                    Cut me Off
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Driving Slow')">
                    Driving Slow
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Not Paying Attention')">
                    Not Paying Attention
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('You just suck at driving')">
                    You just suck at driving
                </button>
            </div>
        </div>
        <div clas="col-12 col-center">
            <h3 class="align-middle">Good Driving Review</h3>
            <div class="align-middle">
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Courteous Driver')">
                    Courteous Driver
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Used Turn Signals')">
                    Used Turn Signals
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Excellent Park Job')">
                    Excellent Park Job
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Let me Merge')">
                    Let me Merge
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('You are a great driver, keep it up!')">
                    You are a great driver, keep it up!
                </button>
            </div>
        </div>
        <div clas="col-12 col-center">
            <h3 class="align-middle">Car Review</h3>
            <div class="align-middle">
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Looks Brand New')">
                    Looks Brand New
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Cool Color/Wrap')">
                    Cool Color/Wrap
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Nice Rims/Wheels')">
                    Nice Rims/Wheels
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('Unique & Eye-Catching')">
                    Unique & Eye-Catching
                </button>
                <button matButton="outlined" class="quick-review-button" 
                (click)="submitQuickReview('our car is awesome, I love it!')">
                    Your car is awesome, I love it!
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-center">
            <span class="align-middle padding-bottom">
                <h1><b>OR</b></h1>
                <br />
                If you would like to provide more information, <a (click)="isQuickMode = !isQuickMode">click here</a>.
            </span>
        </div>
    </div>
</div>

<form (ngSubmit)="submit(form)" #form="ngForm" *ngIf="!isQuickMode">
    <div class="container grid-container-padding" style="padding-top: 1vh;">
        <div class="row">
            <div class="col-12 col-center">
                <span class="align-middle padding-bottom">
                    Please provide some basic information about yourself, the car in question, and the event that took place.
                    <br />
                    We will do our best to make sure they are reprimanded.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-center">
                <span>
                    <a (click)="isQuickMode = !isQuickMode">‹ Back</a>
                </span>
            </div>
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="formData.firstName" name="firstName" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Last Initial</mat-label>
                    <input matInput [(ngModel)]="formData.lastName" name="lastName" maxlength="1" required>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input matInput [(ngModel)]="formData.email" name="email" autocomplete="new-password" required>
                </mat-form-field>
            </div>
        </div> -->
        <div class="row" *ngIf="!user_id">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>License plate of Driver</mat-label>
                    <input matInput [(ngModel)]="formData.licensePlate" name="licensePlate" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="!user_id">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Lincense Registration State</mat-label>
                    <mat-select [(ngModel)]="formData.state" name="state" required>
                        <mat-option *ngFor="let state of states" [value]="state.value">{{ state.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Reason for Contacting us</mat-label>
                    <mat-select [(ngModel)]="formData.reasonForContacting" name="reasonForContacting" required>
                        <mat-optgroup label="Bad Driving Review">
                            <mat-option value="Aggressive_Driving">Aggressive Driving</mat-option>
                            <mat-option value="Cut_Me_Off">Cut me Off</mat-option>
                            <mat-option value="Driving_Slow">Driving Slow</mat-option>
                            <mat-option value="Not_Paying_Attention">Not Paying Attention</mat-option>
                            <mat-option value="Bad_Other">Bad Other</mat-option>
                        </mat-optgroup>
                        <mat-optgroup label="Good Driving Review">
                            <mat-option value="Courteous_Driver">Courteous Driver</mat-option>
                            <mat-option value="Used_Turn_Signals">Used Turn Signals</mat-option>
                            <mat-option value="Good_Parking_Job">Excellent Park Job</mat-option>
                            <mat-option value="Let_Me_Merge">Let me Merge</mat-option>
                            <mat-option value="Good_Other">Good Other</mat-option>
                        </mat-optgroup>
                        <mat-optgroup label="Car Review">
                            <mat-option value="Looks_New">Looks Brand New</mat-option>
                            <mat-option value="Cool_Color">Cool Color/Wrap</mat-option>
                            <mat-option value="Nice_Wheels">Nice Rims/Wheels</mat-option>
                            <mat-option value="Unique_Eye_Catching">Unique & Eye-Catching</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Description of event</mat-label>
                    <textarea matInput [(ngModel)]="formData.description" name="description" randomizeInput required></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-center padding-bottom">
                <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid || isProcessing" matTooltip="Are you sure?" [matTooltipPosition]="'above'">Submit</button>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-12 col-center">
            <span class="pull-right"><a href="/shop">Want your own bumper sticker?</a></span>
        </div>
    </div>
</div>