<form autocomplete="new-password" (ngSubmit)="submit()" #form="ngForm">
    <div class="grid-container grid-container-padding" style="padding-top: 1vh;">
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="formData.firstName" name="firstName" autocomplete="new-password" required>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="formData.lastName" name="lastName" autocomplete="new-password" required>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input matInput [(ngModel)]="formData.email" name="email" autocomplete="new-password" required>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>License plate of Driver</mat-label>
                    <input matInput [(ngModel)]="formData.licensePlate" name="licensePlate" autocomplete="new-password" required>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Lincense Registration State</mat-label>
                    <mat-select [(ngModel)]="formData.state" name="state" required>
                        <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Reason for Contacting us</mat-label>
                    <mat-select [(ngModel)]="formData.reasonForContacting" name="reasonForContacting" required>
                        <mat-option value="Aggressive_Driving">Aggressive Driving</mat-option>
                        <mat-option value="Cut_Me_Off">Cut me Off</mat-option>
                        <mat-option value="Driving_Slow">Driving Slow</mat-option>
                        <mat-option value="Not_Paying_Attention">Not Paying Attention</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="outline">
                    <mat-label>Description of event</mat-label>
                    <textarea matInput [(ngModel)]="formData.description" name="description" randomizeInput required></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid" matTooltip="Are you sure?" [matTooltipPosition]="'above'">Submit</button>
            </div>
            <div class="col-12 col-center">
                <span class="pull-right"><a href="/">Want your own bumper sticker?</a></span>
            </div>
        </div>
    </div>
</form>