<form autocomplete="off">
    <div class="grid-container grid-container-padding">
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput autocomplete="new-password">
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput autocomplete="new-password">
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="fill">
                    <mat-label>E-Mail</mat-label>
                    <input matInput autocomplete="new-password">
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="fill">
                    <mat-label>Reason for Contacting us:</mat-label>
                    <mat-select>
                        <mat-option value="Aggressive_Driving">Aggressive Driving</mat-option>
                        <mat-option value="Cut_Me_Off">Cut me Off</mat-option>
                        <mat-option value="Driving_Slow">Driving Slow</mat-option>
                        <mat-option value="Not_Paying_Attention">Not Paying Attention</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center">
                <mat-form-field appearance="fill">
                    <mat-label>Description of event</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="grid-row">
            <div class="col-12 col-center pull-right">
                <button mat-stroked-button>Submit</button>
            </div>
        </div>
    </div>
</form>